@media screen and (min-width: 1171px) {
  .banner {
    background-image: url("../../images/banner2.gif");
    background-repeat: no-repeat;
    height: 428px;
    border: 1px solid black;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .banner {
    background-image: url("../../images/ipad.gif");
    background-repeat: no-repeat;
    height: 340px;
    
  }

}

@media screen and (max-width: 767px) {
  .banner {
    background-image: url("../../images/mobile.gif");
    background-repeat: no-repeat;
    padding-bottom: 160px;
  }
}
