#main-footer {
    color:black;
    text-align: center;
    padding: 1rem;
    background: none;
    height: 60px; 
    width: 100%;
    left: 0;
    bottom: 0;
    position: sticky;
    /* background:rgba(211, 211, 211, 0.5); */
    /* z-index: 1; */
}