.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 500px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  width:350px;
  height: 400px;
  opacity: 0.9;
  background-color: #ffffff;
 
  /* background-image: linear-gradient(45deg, #ffffffe5 10%, #d7e1ec 90%); */
  z-index: 1;
  border-radius: 10px;
}

.product__info {
  
  height: 100px;
  margin-bottom: 5px;
  font-family: Georgia,serif;
  font-weight:700;
}
.product__price {
  margin-top: 5px;
}

.product > img {
  max-height: 200px;
  background:none;
  width: 250px;
  object-fit: contain;
  margin-bottom: 15px;
  zoom:1.2;
}
.product > button {
  background-image: linear-gradient(45deg, #c797eb 20%,  #c8c2d8 99%);
  border: 1px solid;
  border-radius: 3px;
  border: none;
  color: white;
  box-shadow: 0 3px 5px 2px  #baa5e9;
}
@media screen and (max-width: 500px) {
.product {

  /* display:flex; */
  /* flex-flow: row wrap; */
  /* height:300px; */
  height: 480px;
  max-height: 500px;
  min-width: 160px; 
}
  .product img{
    width: 100%;
    zoom: 1.5;
    min-width: 100px;
    max-height:400px;
    object-fit: contain;
    
  }
  .product__info {
    display: inline-block;
    text-align: center;
    margin-bottom: -20px;
    font-family: Georgia,serif;
    font-weight:700;
  }
  
}